<section id="project" style="background-color: #{{backgroundColor}}">
  <div class="u-centerText u-widthWrapper">
    <h1 id="project-title" class="u-noBold u-whiteText">{{project.title}}</h1>
    <img id="project-image" class="pure-img" src="{{project.imageUrl}}">
    <a id="project-github" class="u-whiteText" href="{{project.githubUrl}}" target="_blank">(Source)</a>
    <p id="project-description" class="u-whiteText">{{project.description}}</p>
  </div>
</section>
